---
import FormattedDate from './FormattedDate.astro';

export interface Props {
  post: {
    slug: string;
    data: {
      title: string;
      technology?: string;
      heroImage: string;
      pubDate: Date;
    };
  };
  index: number;
}

const { post, index } = Astro.props;
const isFirst = index === 0;

const slugParts = post.slug.split('/');
const slug = slugParts.length > 1 && slugParts[0] === slugParts[1] 
  ? slugParts[0] 
  : post.slug;
---

<li id={`post-${index}`} 
    class={isFirst ? 'first-post' : ''}
    data-title={post.data.title?.toLowerCase() ?? ''} 
    data-technology={post.data.technology?.toLowerCase() ?? ''}
    aria-label={`Artículo: ${post.data.title}`}>
  <a href={`/blog/${slug}/`}>

    <h4 class="title">{post.data.title}</h4>
    <p class="date">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>

<style>
    li {
        width: calc(50% - 1rem);
    }
    li * {
        text-decoration: none;
        transition: 0.2s ease;
    }
    li a {
        display: block;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1.2;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    a:hover h4,
    a:hover .date {
        color: rgb(var(--accent));
    }
    @media (max-width: 720px) {
        li {
            width: 100%;
        }
        li.first-post {
            margin-bottom: 2rem;
        }
        li.first-post .title {
            font-size: 1.777rem;
        }
    }
</style>